/* remove redundancies */

@media screen and (max-width: 949px) {
  .delete {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--edit-color);
  }
  .cal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 9rem;
    height: 2rem;
    border-radius: 1.2rem;
    background-color: var(--btn-dark-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
  }
  .cal:hover {
    background-color: var(--btn-light-color);
  }
  .add-meal {
    color: var(--secondary-edit-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .buttons {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin: auto;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
  }
  .button:hover {
    background-color: var(--btn-light-color);
  }
}

@media screen and (min-width: 950px) and (max-width: 1279px) {
  .delete {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--edit-color);
  }
  .cal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 9rem;
    height: 2rem;
    border-radius: 1.2rem;
    background-color: var(--btn-dark-color);
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    text-decoration: none;
  }
  .cal:hover {
    background-color: var(--btn-light-color);
  }
  .add-meal {
    color: var(--secondary-edit-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .buttons {
    position: fixed;
    right: 4rem;
    display: flex;
    flex-direction: column;
    margin: 0%;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
  }
  .button:last-child {
    margin-top: 1rem;
  }
  .button:hover {
    background-color: var(--btn-light-color);
  }
}

@media screen and (min-width: 1280px) {
  .delete {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--edit-color);
  }
  .cal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--btn-dark-color);
    color: var(--secondary-text-color);
    font-size: 20px;
    text-decoration: none;
  }
  .cal:hover {
    background-color: var(--btn-light-color);
  }
  .add-meal {
    color: var(--secondary-edit-color);
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: var(--secondary-text-color);
    background-color: var(--btn-dark-color);
    margin-left: auto;
  }
  .button:last-child {
    margin-top: auto;
  }
  .button:hover {
    background-color: var(--btn-light-color);
  }
}
