@media screen and (max-width: 949px) {
  .holder {
    width: 100%;
    margin-top: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: var(--light-color);
    width: 95%;
    zoom: 85%;
    margin-bottom: 3rem;
  }
  .head,
  .content {
    display: flex;
    justify-content: space-between;
    height: 35px;
  }
  .head {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
}

@media screen and (min-width: 950px) and (max-width: 1279px) {
  .holder {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 3rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: var(--light-color);
    width: 70%;
    margin-bottom: 3rem;
  }
  .head,
  .content {
    display: flex;
    justify-content: space-between;
    height: 35px;
  }
  .head {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
}

@media screen and (min-width: 1280px) {
  .holder {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    margin-top: 50px;
  }
  .container {
    display: flex;
    flex-direction: column;
    background: var(--light-color);
    height: fit-content;
    width: 750px;
    margin-bottom: 80px;
  }
  .head,
  .content {
    display: flex;
    justify-content: space-between;
    height: 35px;
  }
  .head {
    background: var(--secondary-color);
    color: var(--secondary-text-color);
  }
  .edit {
    color: var(--edit-color);
  }
  .add-set {
    color: var(--secondary-edit-color);
  }
}
